/*This stylesheet contains some custom class rather than Bootstrap*/

h4 {
    color: #39D084;
    font-weight: normal;
    margin: auto;
}

.navbar .nav li a {
    font-size: 13px;
    padding: 10px 10px 10px;
}


.laravel img {
    margin-top: 20px;
}

.row {
    margin: auto;
}

.span2 {
    margin: auto;
    display: block;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-navbar {
    margin-bottom: 5px;
}

.profileImg {
    border-radius: 50%;
}

a.brand img {
    border-radius: 50%;
    border: 5px solid #fff;
}

.profile,
.skills,
.work,
.resume,
.photos {
    padding: 30px 0;
    margin-bottom: 50px;
}

.profile h2,
.skills h2,
.work h2,
.resume h2, 
.photos h2 {
    font-weight: normal;
    color: #39D084;
    margin: auto;
}

.photos h2 {
    font-weight: normal;
    color: #39D084;
    margin: auto;
    padding-bottom: 20px;
}

/***** Profile *****/
.profile h1 {
    color: #39d084;
    font-weight: normal;
}

.profile h3 {
    color: #fff;
    font-weight: normal;
}

.profile p {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    margin-top: 30px;
}

.profile .container .span5 {
    clear: both;
    padding: 40px 0;
}


a.hire-me {
    display: inline-block;
    *display: inline;
    padding: 20px 60px;
    background: #39d084;
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    margin: 20px 0;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

a.hire-me:hover {
    text-decoration: none;
    background: #11d170;
}

a.projects {
    display: inline-block;
    *display: inline;
    padding: 5px 20px;
    background: #39d084;
    color: #fff;
    font-size: 15px;
    margin: 0px 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

a.projects:hover {
    text-decoration: none;
    background: #11d170;
}

ul.social-icons {
    margin: 20px 0;
    clear: both;
}

ul.social-icons li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

ul.social-icons li:first-child {
    margin-left: 0;
}

ul.social-icons li a {
    opacity: 0.8;
}

ul.social-icons li a:hover {
    opacity: 1;
}


/***** Skills *****/


/*.skills .span5 {
    text-align:left;
    padding:47px 0;
}*/

.skills .ps,
.skills .ai,
.skills .html,
.skills .css,
.skills .laravel {
    padding: 25px;
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    border: 8px solid #203748;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.skills h2 {
    margin-left: 20px;
    margin-right: 20px;
}

.skills .laravel {
    background: #30a5dc;
}

.skills .ps {
    background: #30a5dc;
}

.skills .ai {
    background: #ee742b;
}

.skills .html {
    background: #f04949;
}

.skills .css {
    background: #39d084;
}

.skills .laravel:hover,
.skills .ps:hover,
.skills .ai:hover,
.skills .html:hover,
.skills .css:hover {
    border: 8px solid #fff;
}

.skills .laravel h3,
.skills .ps h3,
.skills .ai h3,
.skills .html h3,
.skills .css h3 {
    color: #fff;
    font-size: 3.4em;
    font-weight: normal;
    line-height: 80px;
}

.skills .html h3,
.skills .css h3 {
    font-size: 2.2em;
}

.expand-bg {
    background: none repeat scroll 0 0 #EAEDF2;
    border-radius: 16px;
    height: 16px;
    margin-bottom: 15px;
    position: relative;
    padding: 0 2px;
}

.expand {
    border-radius: 10px;
    height: 4px;
    margin: 2px 0;
    padding: 4px 0 4px 5px;
    position: absolute;
}

.skills .span5 h3 {
    font-size: 18.5px;
    line-height: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.skills .span5 h3 span {
    float: right;
    clear: both;
}

.ps2 {
    width: 90%;
    background: #30a5dc;
    -moz-animation: html5 2s ease-out;
    -webkit-animation: html5 2s ease-out;
}

.ai2 {
    width: 80%;
    background: #ee742b;
    -moz-animation: css3 2s ease-out;
    -webkit-animation: css3 2s ease-out;
}

.html2 {
    width: 75%;
    background: #f04949;
    -moz-animation: jquery 2s ease-out;
    -webkit-animation: jquery 2s ease-out;
}

.css2 {
    width: 85%;
    background: #39d084;
    -moz-animation: photoshop 2s ease-out;
    -webkit-animation: photoshop 2s ease-out;
}

@-moz-keyframes ps2 {
    0% {
        width: 0px;
    }
    100% {
        width: 90%;
    }
}

@-moz-keyframes ai2 {
    0% {
        width: 0px;
    }
    100% {
        width: 80%;
    }
}

@-moz-keyframes html2 {
    0% {
        width: 0px;
    }
    100% {
        width: 75%;
    }
}

@-moz-keyframes css2 {
    0% {
        width: 0px;
    }
    100% {
        width: 85%;
    }
}

@-webkit-keyframes ps2 {
    0% {
        width: 0px;
    }
    100% {
        width: 90%;
    }
}

@-webkit-keyframes ai {
    0% {
        width: 0px;
    }
    100% {
        width: 80%;
    }
}

@-webkit-keyframes html {
    0% {
        width: 0px;
    }
    100% {
        width: 75%;
    }
}

@-webkit-keyframes css {
    0% {
        width: 0px;
    }
    100% {
        width: 85%;
    }
}


/**** Work container *****/

.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}

.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.hvrbox img {
    max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
    display: block;
}

.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}

.hvrbox .hvrbox-text {
    text-align: left;
    font-size: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179);
    /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}

.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

ul.work-images li {
    list-style: none;
    display: inline-block;
    margin: 8px 10px;
    background:
}

ul.work-images li:first-child {
    margin-left: 0;
}

ul.work-images li div {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

ul.work-images li img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

ul.work-images li img:hover {
    opacity: 0.1;
}


/***** Resume container *****/

.resume h3 {
    margin: 60px 0;
}

.resume .btn-center {
    text-align: center;
}

.footer {
    background: #355267;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 20px 0;
}

.footer p a {
    color: #fff;
    text-decoration: none;
}

.footer p a:hover {
    color: #39d084;
}
